  <div class='container'>
    <div class='row justify-content-left'>
      <div class='text-left col-5 col-lg-10 bg-white border p-3'>

<h5 class="text-primary">Jordan M. Wofford<br></h5>
 Cell: <span class="text-primary">914.223.2081 </span> | E-mail:<span class="text-primary"> jmwofford@gmail.com<br></span>
   Linked In: https://www.linkedin.com/in/jordan-m-wofford-aa079630/<br>

  <hr>

 
Experienced Entrepreneur with a demonstrated history of working in the program development industry. Skilled in multiple libraries and languages such as Express JS, React JS, Node, C#, Ruby on Rails. Strong business development professional with a focused background in International Business from Lindenwood University. <br>
     <hr>
<span class="text-primary">Technical Skills<br></span>
Overview:   Specializing in principles of REST and SOLID, I am able to design and build easily maintainable programs within industry-competitive time requirements. <br>
<hr>
●	Languages – Ruby on Rails, React.js, C#, SQL, MongoDB, Java Script, Express, Node.js <br>
●	Sales Experience – Over 9 years of Sales Experience. Allstate Insurance, Oceanaire<br>
●	Community Outreach – Mayor’s Youth Council, Georgia STANDUP, CADCA<br>
●	Engineering Network – Code for America Atlanta Brigade, Greenspace Hackathon, Center for Civic Innovation, Community and Housing Initiatives Corp, City of Atlanta, Per Scholas Alum, General Assembly Alum<br>
     <hr>
<span class="text-primary">Certifications<br></span>
General Assembly Full Stack WDI Certification				June 2018 – September 2018<br>
Per Scholas Code Bridge Immersive Program				April 2018 – June 2018<br>
New Horizons Software Development Certification			January 2018 – March 2018	<br>
<hr>
<span class="text-primary">Education<br></span>

Lindenwood University, St. Charles, MO 				January 2010 – March 2015*<br>
IT Support Training, Comprehensive IT curriculum incorporating a combination of formal instruction and hands-on activities in a real-world working environment. (300 hours)<br>
     <hr>
<span class="text-primary">Work Experience </span>
     <br>
Fischer Company & Associates | Dallas, TX				September 2018 – Present<br>
Software Engineer <br>
● Worked closely with Senior Engineers and Brokers to produce data interfaces for corporate clients.<br>
● Trained 1500+ hours of Mid-Advanced Level Rails Development Coursework and Tutorials<br>
● Used Data Scraping and Geo Location Libraries to enhance the structural design of active client applications.<br>
● Used Amazon CloudFront, AWS Lambda, Amazon S3, Amazon Cloud Watch<br>

    </div>
  </div>
</div>