  <div class='container '>
    <div class='row justify-content-center '>
      <div class='text-secondary text-center col-12 col-lg-10 bg-warning border p-3'>
        <h1>Welcome <%=@current_user.name %>!</h1>
       
       <div>
        <img class="luigi" src="https://cdn2.scratch.mit.edu/get_image/gallery/1393076_170x100.png">
        <img class="prof_tag2"src="https://www.freeiconspng.com/uploads/spray-can-png-22.png"><br><br><br>
        <a class="btn btn-danger" href="/home"> Return to Home Page  </a>

        </div><br><hr>
        <h3> Wanna Add Any Comments? If so, Click Here For Comments Board: <br><br><a href="/comments/new"><span id="btn-fix" class="btn btn-success text-white">Comment Board </span> </a></h3>
<%#  %>
        <div class="bubbleParent">
            <a href="https://github.com/Jmwofford"><div class="social_bubble1"> </div></a>
            <a href="https://www.facebook.com/emotionally.unavailable100percent?ref=bookmarks"><div class="social_bubble2"> </div></a>
            <a href="https://www.linkedin.com/in/jordan-m-wofford-aa079630/"><div class="social_bubble3"> </div> </a>
            <a href="https://mail.google.com"><div class="social_bubble4"> </div></a>
            <a href="https://slack.com/signin"> <div class="social_bubble5"></div></a>

          </div>

<%#  %>

        <br>
        <br>
        <div>
        <%# Dropdown %>
            <p>
            
            <a class="btn btn-primary" data-toggle="collapse" href="#multiCollapseExample1" role="button" aria-expanded="false" aria-controls="multiCollapseExample1">Tech Resume</a>
            <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#multiCollapseExample2" aria-expanded="false" aria-controls="multiCollapseExample2">References</button>
            <button class="btn btn-success" type="button" data-toggle="collapse" data-target=".multi-collapse" aria-expanded="false" aria-controls="multiCollapseExample1 multiCollapseExample2">View both elements</button>
          </p>
          <div class="row">
            <div class="col">
              <div class="collapse multi-collapse" id="multiCollapseExample1">
                <div class="card card-body">
                  <%= render 'resume'%>
                </div>
              </div>
            </div>
            <div class="col">
              <div class="collapse multi-collapse" id="multiCollapseExample2">
                <div class="card card-body">
                  <h5 class="text-primary">● Magnardo Tavarez (Per Scholas Instructor)<br></h5>mtavarez@perscholas.org / (646) 492 – 6464<br><hr>
                  <h5 class="text-primary">● Ford Fischer (Senior Engineer)<br></h5>ffischer@fischercompany.com / (972) 567 – 1700<br><hr>
                  <h5 class="text-primary">● Tory Thompson (Per Scholas Instructor)<br></h5>tthompson@perscholas.org / (404) 659-3227<br><hr>
                </div>
              </div>
            </div>
          </div>
          <%#  %>
        </div>

<hr>
      <%# card %>
<div class="card_parent">
  <div class="card_one">
    <div id="tri_bucket" class="card" style="width: 25rem;">
  
        <div class="card-body">
        <h3 class="text-primary card-title">Community Outreach</h3><hr>
        <p class="card-text">My commit to community empowerment and civic engagement is unparalleled. Since Middle School I have been immersed in the non-profit grassroot communities of Atlanta.</p>
    </div>
  <ul class="list-group list-group-flush">
    <li class="list-group-item">Political Campaigning</li>
    <li class="list-group-item">Non-Profit Volunteering</li>
    <li class="list-group-item">Community Activism/ Speaking Engagements</li>
  </ul>
  <div class="card-body">
    <a href="https://jmwofford.github.io/projects.html" class=" btn btn-secondary card-link">Click to View Portfolio</a>
  </div>
</div>

    </div>

    <div class="card_two">
    
<div id="tri_bucket" class="card" style="width: 25rem;">
  <div class="card-body">
    <h3 class="text-primary card-title">Athletics</h3><hr>
    <p class="card-text">My Leadership on and off the field, gift me with the ability to work well within a team environment.</p>
  </div>
  <ul class="list-group list-group-flush">
    <li class="list-group-item">Lacrosse (Collegiate)</li>
    <li class="list-group-item">Boxing (Amateur)</li>
    <li class="list-group-item">Football(Collegiate)</li>
    <li class="list-group-item">Rugby(Collegiate)</li>
    <li class="list-group-item">National Debate Scholar</li>

  </ul>
  <div class="card-body">
    <a href="https://www.youtube.com/watch?v=XaL6En2U5V4" class=" btn btn-secondary card-link">Highlights</a>
  </div>
</div>
    
    
    </div>


    <div class="card_three">
    
<div id="tri_bucket" class="card" style="width: 25rem;">
  <div class="card-body">
    <h3 class="text-primary card-title">Pet Projects</h3><hr>
    <p class="card-text">Throughout my tenure as a Software Engineer I have built, and will continue to build useful programs and applications geared toward social activism, bipartisan investment, and collaborative tech innovation. I develop mostly in the MERNS stack. My strongest languages are React.js and Ruby on Rails.</p>
  </div>
  <ul class="list-group list-group-flush">
    <li class="list-group-item">MountSwishmore (Rails)</li>
    <li class="list-group-item">3dPrinting E-Site (Rails)</li>
    <li class="list-group-item">Free-Lance Sites</li>
  </ul>
  <div class="card-body">
    <a href="https://safe-sea-48470.herokuapp.com/goats" class=" btn btn-secondary card-link">Click to View Projects</a>
  </div>
</div>
    
    
    </div>
</div>
<%# cardEnd %>
<hr>


    </div>
  </div>
</div>