<h1 class="comment_title">Add New Comment</h1>

<%= render 'form', comment: @comment %>
<br>
<a class="text-white" href="/dashboard"><div style="margin-left:50%;" class="btn btn-secondary text-white"> Back To Profile <div></a>
