  <div class='container'>
  <br>
  <br>
  <br>
  <br>
<nav id="nav_ish" class="navbar navbar-expand-lg navbar-light bg-light">
    <a id="jmw" class="navbar-brand" href="/">Jordan M. Wofford </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
    </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a id="home_tab" class="nav-link" href="#"> <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#"></a>
      </li>

    </ul>
  </div>
    
<h4 class="text-white"> Member Sign In </h4>
       <form action="/sessions" method="POST">
        <input type="hidden" name="authenticity_token" value=" <%= form_authenticity_token %>" >
        <input type="email" name="login[email]" placeholder=" Email">
        <input type="password" name="login[password]" placeholder=" Password">
        <input type="submit" name="submit" class="btn btn-primary submit">
      </form>
     <div>
     
     </div>
         <img class="bart"src="https://seeklogo.com/images/B/Bart_Simpson-logo-B1213E41BF-seeklogo.com.png">

</nav>
         <img class="rotating_can" src="http://www.picgifs.com/graphics/g/graffiti/graphics-graffiti-634805.gif">
         <img class="bigtag" src="https://www.pngarts.com/files/1/Graffiti-Download-Transparent-PNG-Image.png">


    <div class='row justify-content-center'>
      <div id="login_index" class='text-center col-12 col-lg-10 bg-white border p-3'>
       <h3 class="text-primary"></h3>
       


       <div class="errors">
        <% if flash[:login_errors] %>
          <% flash[:login_errors].each do |error| %>
          <p> <%= error %> </p>
          <% end %>
        <% end %>
      </div>
 <hr>
        <h3 class="text-white"> New to Site ? Register to Enter.</h3>
         <hr>
         <form action="/users" method="POST">
          <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %> ">
          <input type="name" name="user[name]" placeholder="Company Name">
          <input type="email" name="user[email]" placeholder="Email">
          <input type="password" name="user[password]" placeholder="Password"> 
          <input type="password" name="user[password_confirmation]" placeholder="Password Confirmation"> 
          <input type="submit" name="submit" class="btn btn-primary submit">
        </form>
  
          </div>
        </div>
      </div>
    </div>
  </div>
</div>