  <div class='container'>
  <br>
  <br>
  <br>
  <br>

<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">Navbar</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Link</a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Dropdown
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="#">Action</a>
          <a class="dropdown-item" href="#">Another action</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="#">Something else here</a>
        </div>
      </li>
      <li class="nav-item">
        <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
      </li>
    </ul>
    <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form>
  </div>
</nav>

    <div class='row justify-content-center'>
      <div id="login_index" class='text-center col-12 col-lg-10 bg-white border p-3'>


       <h3 class="text-primary">Existing Member Login</h3><hr>

       <form action="/sessions" method="POST">
        <input type="hidden" name="authenticity_token" value=" <%= form_authenticity_token %>" >
        <input type="email" name="login[email]" placeholder="Company Email">
        <input type="password" name="login[password]" placeholder="Password">
        <input type="submit" name="submit" class="btn btn-primary submit">
      </form>

       <div class="errors">
        <% if flash[:login_errors] %>
          <% flash[:login_errors].each do |error| %>
          <p> <%= error %> </p>
          <% end %>
        <% end %>
      </div>

 <hr>
      <img src="https://data.whicdn.com/images/305740634/superthumb.png?t=1516546580">
 <hr>
        <h1 class="text-primary">New to Site ? Register to Enter.</h1>
         <form action="/users" method="POST">
          <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %> ">
          <input type="name" name="user[name]" placeholder="Company Name">
          <input type="email" name="user[email]" placeholder="Email">
          <input type="password" name="user[password]" placeholder="Password"> 
          <input type="password" name="user[password_confirmation]" placeholder="Password Confirmation"> 
          <input type="submit" name="submit" class="btn btn-primary submit">
        </form>
   
     </div>
  </div>
</div>


    </div>
  </div>
</div>