<br><br><br><br>
<div class='container'>
  <div class='row justify-content-center'>
    <div class='text-left col-12 col-lg-10 bg-warning border p-3'>
      <div class="main_parent">
        <div>
          <img src="https://i.gifer.com/7kHG.gif"><br>
          <img class="drips" src="https://media3.giphy.com/media/2xPGQo4F7Noggq3coX/source.gif">
        </div>

        <a href="/home">
        <img class="fiti"src="http://pluspng.com/img-png/graffiti-png-attractive-what-is-graffiti-4-graffiti-by-dtsunb-d399ryc-png-900.png">
        </a><h5 id="enter_sign" class="text-secondary"> ENTER <hr>أدخل<hr> ENTRA<hr> 入る<hr> Eingeben <hr>輸入 </h5>
        <img class="land_tag"src="http://www.pngmart.com/files/4/Graffiti-PNG-Transparent-Image.png">
      </div>
<%# ?rel=0&amp;autoplay=1 %>
      <img class="squirrel" src="https://thumbs.gfycat.com/WetLividGlobefish-max-1mb.gif">
        </div>
      </div> 
    </div>
  </div>
</div>
