 <div class='container'>
 <br>
 <br>
    <div class='row justify-content-center'>
      <div class='text-left col-12 col-lg-10 bg-warning border p-3'>
      <div class="main_parent">
        <div>
        <img src="https://i.gifer.com/7kHG.gif"><br>
        <img class="drips" src="https://media3.giphy.com/media/2xPGQo4F7Noggq3coX/source.gif">
        </div>


        <div>
        <h1 id="main_text" class="text-primary">
         <a href="/home" class="text-success">
         ENTER SITE 
         </a></h1>
        </div>
      </div>

    </div>
  </div>
</div>
