/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import "bootstrap";
@import "bootstrap-sprockets";

body {
  color: black;
}

input {
  border: solid green;
  border-radius: 12em;
  padding: 1em;
  margin: 1em;
  color: purple;
  font-size: 15px;
}

// ======================================TAGS
.drips {
  position: absolute;
}

.main_parent {
  display: flex;
}

.card_parent {
  display: flex;
  justify-content: space-between;
  padding: 15px;
}

// ======================================CLASSES

#main_text {
  border: double white;
  margin-top: 35%;
  padding: 10px;
  font-family: serif;
  border-width: 5px;

}

#login_index {
  background-image: url("https://33.media.tumblr.com/8ca70d92d57382f9d828ffb7039ccbd9/tumblr_n55u51A94D1r6l3e7o1_500.gif")
}

#main_profile {
  background-image: url("http://25.media.tumblr.com/tumblr_mdq76hhR2F1rgpyeqo1_250.gif");

}

#tri_bucket {
  border: solid blue;
  padding: 5px;
  border-width: 3px;
  width: auto;
}

#tri_bucket:hover {
  border: solid green;
  border-width: 7px;
  border-radius: 1em;
  padding: 5px;
  height: 450px;
  transition: .5s;

}

#tri_pic {
  height: 100px;
  width: 170px;
  border: solid green;
}